@font-face {
  font-family: fmFontStencil;
  src: url(../misc/ForsvarsmaktenSans-Stencil.woff2);
}

@font-face {
  font-family: fmFont;
  src: url(../misc/ForsvarsmaktenSans-Regular.woff2);
}

@font-face {
  font-family: fmFontBold;
  src: url(../misc/ForsvarsmaktenSans-Bold.woff2);
}

@font-face {
  font-family: fmFontCondensed;
  src: url(../misc/ForsvarsmaktenSans-Condensed.woff2);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: fmFont;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 4rem;
  background-color: rgba(19, 22, 22, 0.75);
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  list-style: none;
}

body header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  list-style: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

body header nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: fmFont;
}

body header nav ul li:hover {
  background-color: lime;
}

body header nav ul li:hover a {
  color: #000;
}

body header div {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header div div {
  background-color: rgba(19, 22, 22, 0.75);
  color: white;
  padding: 1rem;
}

body header div div h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: fmFontStencil;
  font-size: 2.5rem;
  padding: 0.75rem;
}

body header div div h2 {
  font-family: fmFontCondensed;
}
/*# sourceMappingURL=style.css.map */